.bg-grad-yellow {
	background-image: linear-gradient(
		rgba(230,125,4,1) 0%,
		rgba(250,187,53,1) 80%, 
		rgba(251,196,58,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#E67D04), 
		color-stop(80%,#FABB35), 
		color-stop(100%,#FBC43A)); 
	background: -webkit-linear-gradient(top,  
		rgba(230,125,4,1) 0%,
		rgba(250,187,53,1) 80%, 
		rgba(251,196,58,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner {
	margin: 20pt;
}

.message {
	margin: 20pt;
}

.footer {
	position: absolute;
	bottom: 40pt;
	margin-left: 40pt;
}

.footer>a {
	text-decoration: none;
}